name: Execute tests on georchestra/docker:master
on:
  push:
    branches: [ k3s ]
  pull_request:
    branches: [ main, master ]
  schedule:
    - cron: "0 4 * * 1"

permissions: write-all

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          path: tests

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: true
          # all of these default to true, but feel free to set to
          # "false" if necessary for your workflow
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: false


      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - uses: actions/checkout@v4
        with:
          repository: camptocamp/python-geonetwork
          path: geonetworkapi

      - name: Install GN-client
        run: |
          cd geonetworkapi
          pip install .
          cd ..

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r tests/requirements.txt

      - name: Ensure browsers are installed
        run: python -m playwright install --with-deps

      - name: Helm Installation
        uses: azure/setup-helm@v4

      - name: Launch k3s
        run: |
          curl -sfL https://get.k3s.io | K3S_KUBECONFIG_MODE="644" sh -
          sudo dd if=/dev/zero of=/swapfile bs=1M count=8k status=progress
          sudo chmod 0600 /swapfile
          sudo mkswap /swapfile
          sudo swapon /swapfile
          free -h
          export KUBECONFIG=/etc/rancher/k3s/k3s.yaml
          until kubectl get --raw='/readyz?verbose'; do echo "wait for k3s to finish"; done
          helm install --wait --timeout=15m georchestra oci://ghcr.io/georchestra/helm-charts/georchestra
          kubectl wait --for=condition=ready --timeout=15m deployment/georchestra-geonetwork
          echo "k3s up succeedeed"
          kubectl cp ../tests/init/dump.sql georchestra-database-0:/dump.sql
          kubectl exec -it georchestra-database-0 psql -U georchestra -d datafeeder -f /dump.sql 
          kubectl cp  ../tests/init/psc georchestra-geoserver:/mnt/geoserver_datadir/workspaces/psc
          kubectl cp ../tests/init/psc $(kubectl get pod  -l app.kubernetes.io/component=georchestra-geoserver -o jsonpath='{.items[0].metadata.name}'):/mnt/geoserver_datadir/workspaces/psc
          kubectl rollout restart deployment georchestra-geoserver
          docker build -t static:latest ../tests/resources/html 
          docker run -d -p 3000:3000 static:latest
          echo "Static server started"
          cd ../tests
          echo "Insert metadata in GN..."
          python init/insert_metadata.py
          echo "Metadata inserted in GN"
          cd ..
          echo "Trigger GN wro4j..."
          curl -k https://georchestra-127-0-0-1.nip.io/geonetwork/srv/eng/catalog.search 

      - name: Run your tests
        run: |
          cd ./tests 
          pwd 
          pytest tests --tracing=retain-on-failure --alluredir=allure-results --base-url=https://georchestra-127-0-0-1.nip.io --reruns=1 -v --slowmo=200 --ver
          cd ..

      - name: Load test report history
        uses: actions/checkout@v4
        continue-on-error: true
        if: always()
        with:
          ref: gh-pages
          path: gh-pages

      - name: Build test report
        uses: simple-elf/allure-report-action@v1.12
        if: always()
        with:
          allure_results: tests/allure-results
          keep_reports: 5

      - name: Publish test report
        uses: peaceiris/actions-gh-pages@v4
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history
          force_orphan: true

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-traces
          path: tests/test-results/
