name: Push on docker hub
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    if: "!startsWith(github.event.head_commit.message, '[skip ci] ')"
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: "Checking out"
        uses: actions/checkout@v6

      - name: "Building docker image"
        if: github.repository == 'georchestra/e2e-tests'
        run: |
          docker build -t georchestra/e2e-tests:latest .

      - name: "Logging in docker.io"
        if: github.repository == 'georchestra/e2e-tests' && github.actor != 'dependabot[bot]' && github.event_name != 'pull_request'
        uses: azure/docker-login@v2
        with:
          username: '${{ secrets.DOCKER_HUB_USERNAME }}'
          password: '${{ secrets.DOCKER_HUB_PASSWORD }}'

      - name: "Update Docker Hub Description"
        uses: peter-evans/dockerhub-description@v5
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          repository: georchestra/e2e-tests
          readme-filepath: ./DOCKER_HUB.md
          short-description: 'End to end tests for the geOrchestra SDI'

      - name: "Pushing latest to docker.io"
        if: github.ref == 'refs/heads/main' && github.repository == 'georchestra/e2e-tests'
        run: |
          docker push georchestra/e2e-tests:latest